body {
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  letter-spacing: -0.05rem;
}

h1 {
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.2rem;
}

#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  
  display: block;
  font-size: 1.1rem;
}


#logo {
  height: 50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 48px;
  background-color: tomato;
  width: 100%;
}

.buttonNav {
  align-items: center;
  display: none;
}

#slider-div-year,
#slider-div-mileage,
#slider-div-gas,
#slider-div-electricity,
#slider-div-rebate,
#slider-div-insurance {
  width: 300px;
  margin-left: 10px;
}

#reset-button,
#play-button {
  margin-top: 5px;
  margin-bottom: 10px;
}

#continent-select {
  width: 150px;
  float: right;
  margin-top: 5px;
}

.y.axis,
.x.axis {
  font-size: 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 12px;
  padding: 48px 300px;
}

.col1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}


.col2 {
  
}

@media(max-width: 1168px) {
  .wrapper {
    flex-direction: column;
    padding: 48px 24px;
    font-size: 1.4rem;
  }

  .col1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #slider-div-year,
  #slider-div-mileage,
  #slider-div-gas,
  #slider-div-electricity,
  #slider-div-rebate,
  #slider-div-insurance {
    width: 200px;
    margin-left: 10px;
  }

  .dropDown {
    grid-column: span 3;
  }



}


.playReset,
.slider {
  display: flex;
  width: 100%;
  gap: 12px;
}

.slider {
  margin-bottom: 24px;
}

.dropDown {
  display: flex;
  width: 300px;
  /* display: none; */
  flex-direction: column;
}

.footer {
  background-color: #fff;
  color: #bababa;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: -15px;
  width: 100%;
}